<h2>New Tasks</h2>

<form class="newtask-form">
	<div class="form-group">
		<label>Title</label>
		{{input type="text" class="title form-control" name="title" value=title placeholder="Add Task..."}}
	</div>
	<div class="form-group">
		<label>Due Date</label>
		{{input type="date" class="form-control" name="date" value=date}}
	</div>
	<div class="form-group">
		<label>Description</label>
		{{textarea class="description form-control" name="description" value=description placeholder="Describe Task..."}}
	</div>
	<button {{action 'addTask'}} class="submit btn btn-primary" name="submit" >Submit</button>
</form>